@(alocador: controllers.Alocador, formTask:Form[models.Task], message: String)

@import helper._ 
@main("Grade Curricular - CC") {
	<font color="#CCFFFF"> 
		<head>
			<meta charset="utf-8">
			<link rel="stylesheet" href="../public/stylesheets/main.css">
		</head>

		<body>
			<header>
				<h1><strong> Grade Curricular - Ciência da Computação </strong></h1>
				<br>
				<div class="adicionarUmPeriodo">
					@form(routes.Application.criaPeriodo()) {
						<button type="submit" class="btn btn-large btn-primary" type="button">Adicionar Período</button><br>
					}
				</div> 
				@if(sistemaPlanejamento.getPeriodos.size() > 1) {
					<!--janela de alerta - limite dos periodos-->
						@if(message != ""){
							<script language="JavaScript" type="text/javascript">
								alert("@message")
							</script>
						}  
					
					<div class= "adicionarUmaDisciplina">
						@form(routes.Application.adicionaDisciplinaNoPeriodo(){
							@if(grade.getPeriodos.size() > 1) {
				        		 <nome>Adicionar Disciplina
				            		    <select class="selectpicker" data-live-search="true" name="inputNameDisc" >

				                		@for(disciplina <- alocador.getGradeCurricular().getListaDeDisciplinas()) {
				                			@if(!alocador.jaFoiAdicionada(disciplina)){
				            	    	     <option value="@disciplina.getNome()" name="inputNameDisc" >@disciplina.getNome()</option>
				                 	    	}
				                		}
				        				</select>no Período</nome>
				        				<select class="selectpicker" data-width="100px" name="idPeriodo" >
				         		   		@for(periodo <- alocador.getPeriodos()) {
								
				                			 @if(alocador.getPeriodos().indexOf(periodo) != 0) {
				                    	  	<option value=@(alocador.getPeriodos().indexOf(periodo)) name="idPeriodo" >@(alocador.getPeriodos().indexOf(periodo)+1)</option><br>

				                 			}
				            			}
				        			</select><button type="submit" class="btn btn-primary" type="button">Adicionar Disciplina</button>  
				 			}
						}
					</div><br>
					@if(alocador.getPeriodos().get(1).getDisciplinas().size() > 0){
					<br><div class="removeDisciplina">
					@form(routes.Application.removeDisciplinaDoPeriodo()){
						@if(alocador.getPeriodos.size() > 1) {
		    				<nome>Remover disciplina <select class="selectpicker" data-live-search="true" name="inputNameDisc" >
		            			@for(disciplina <- alocador.getCurriculo().getDisciplinas()) {
		            				@if(alocador.jaFoiAdicionada(disciplina) && !alocador.getPeriodos().get(0).getDisciplinas().contains(disciplina)){
		        	        			 </nome><option value="@disciplina.getNome()" name="inputNameDisc" >@disciplina.getNome()</option>
			             			}
		            			}
		        			</select><button type="submit" class="btn btn-primary" type="button">Remover Disciplina</button>
						}
					} </div><br><br>

					}
			}
			</header>
					<br><section class="planejamento">
				<!-- tabela com as disciplinas e o calculo do total de creditos de qualquer periodo-->
				<table>
					@for(periodo <- sistemaPlanejamento.getPeriodos()){
						<th class="titulo">@(sistemaPlanejamento.getPeriodos.indexOf(periodo)+1)º PERÍODO </th>
						@for(disciplina <- sistemaPlanejamento.getDisciplinasDadoPeriodo(sistemaPlanejamento.getPeriodos.indexOf(periodo))){
							<tr><td class="disciplina">@disciplina.getNomeDaDisciplina()</tr>
						} 
						<tr><td class="numero">Total de Créditos: @periodo.getTotalDeCreditos()</tr></td>
						@if(alocador.getCreditosDeUmPeriodo(alocador.getPeriodos.indexOf(periodo)) < alocador.minimoDeCreditos()){
							<tr><td class="numero">Os creditos deste período estão abaixo do mínimo.</tr></td>
						}
				 	}   
			</section> 
			<footer class="curriculo">	
				<!-- tabela de todas as disciplinas, seus creditos e pre-requisitos -->
				<table class="table table-bordered">
				<TH> Nome da disciplina</TH><TH> Créditos </TH> <TH> Pré-Requisitos</TH>
				@for(disciplina <- alocador.getCurriculo().getDisciplinas()){	
					<TR><TD>@disciplina.getNome()</td><td> @disciplina.getCreditos()</td><td>@disciplina.getpreRequisitos()</TD></TR> 

				}       
		   		</table>
			</footer>
		</body>
	</font>
}